nav {
    background-color: #144c7d;
}

.navbar-brand{
    width: 19%;
}

nav #brand a {
    color: #f9fdf7;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
}

#brand a img {
    width: 25%;
    border-radius: 10px;
    margin-right: 4%;
    margin-left: -35%;
}

.bienvenida{
    margin: 2%;
}

.imagen{
    width: 100%;
    height: 100px;
}

.principal{
    width: 50%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 15%;
    margin-top: 5%;
    gap: 40%;
}

.opciones{
    width: 100%;
    border: 1px solid black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.accion button{
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 0;
    border-top: 1px solid black;
}

.accion button:hover{
    background-color: #ddd2cff5;
}