nav {
    background-color: #20264a;
}

.navbar-brand{
    width: 19%;
}

nav #brand a {
    color: white;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
}

#brand a img {
    width: 25%;
    border-radius: 10px;
    margin-right: 4%;
    margin-left: -35%;
}

nav #acciones ul li a {
    color: #303970;
    font-size: 18px;
}

.btn-eliminar {
    background-color: #c02230;
    color: #f9fdf7;
}

.btn-eliminar:hover {
    background-color: #a51c2a;
    color: #f9fdf7;
}

.blue-23204D {
    background-color: #20264a;
    color: white;
}

.table-blue-23204D > th {
    background-color: #20264a;
    color: white;
}
